@import '../../../assets/styles/colors';

.toolbar-item-spacer {
    flex: 1 1 auto;
}
.app {
    &-toolbar {
        // background: $color-dark-blue;
        // color: $color-text-light; 
    }
    &-container {
        height: 90%;
        margin: 0;
    }
    &-sidenav {
        width: 240px;
    }
    &-menu-item {
        &.selected {
            background-color: $color-bg-purple;
            color: $color-primary;
        }
    }

    &-sidenav-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}
.logo-img {
    max-width: 42px;
    img {
        width: 100%;
    }
}
