
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './assets/styles/colors';
@import './assets/styles/typography';
@import './assets/styles/material/shared';
@import './assets/styles/material/mat-nav';
@import './assets/styles/material/mat-table';
@import './assets/styles/material/mat-form';
@import './assets/styles/material/mat-card';


:host {
    color: $color-text-dark-blue;   
}
html, body { 
    height: 100%;
 }
body {
    font-family: Roboto, sans-serif;
    color: $color-text-dark-blue;
 }