$color-primary: #673ab7;
$color-alice-blue: #f1f2ff;
$color-white: #ffffff;
$color-black: #000000;
$color-dark-blue: #001d3d;
$color-text-dark-blue: #031b4d;
$color-text-light-blue-2: #7186a4;
$color-text-light: #e4e7ea;
$color-light-blue: #16acff;
$color-dove: #f2f5fa;
$color-green: #55cd6c;
$color-green-2: #128c7e;
$color-green-light: #dbefe7;
$color-green-light-2: #a8e3b8;
$color-text-gray: #aab1c1;
$color-light-gray: #eff0f2;
$color-light-gray-2: #dae2f4;
$color-gray: #d4d5d6;
$color-bright-blue: #306aff;
$color-sky: #e7f1fa;
$color-sea: #d7f8f4;
$color-bg-purple: #ebebeb;
$color-distant-horizon: #f6f6f6;
$color-blueberry: #5d60ab;
$color-catskill-white: #edf6f7;
$color-dark-slate-grey: #2f4858;
$color-light-silver: #d9d9d9;

